/* NOTE: changes may not immediately be reflected due to browser cache. To clear browser cache
for page, use CTRL + SHIFT + R. This should take care of issue. */

/* Master Styles */
body {
    margin: 0px;
    background-color:#5d5c61;
    font-family: 'Glegoo', serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 62px;
}


/* Navigation Bar Styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(153, 152, 152);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.name{
    font-size: 18px;
    color: navy;
}

.name a{
    text-decoration: none;
    color:navy;
}

.right-side{
    display: flex;
}

.nav-bar > .right-side > div { /* styles to go into all divs within right-side class */
    margin-right: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.nav-link {
    height: 30px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {/*only grabbing link inside of nav-link classes */
    color: beige;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid navy;
}

.nav-link a:hover {
    color: navy;
}

.active-nav-link {
    border-bottom: 1px solid navy;
}

.active-nav-link a{
    color: navy !important;
}

/* Portfolio Page Styles */

.all-portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*creates grid layout with 3cols per row*/
}

.portfolio-item {
    position: relative;
}

.item-img-background {
    height: 350px;
    width: 100%;
    filter: brightness(75%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-text{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.item-label{
    width: 50%;
    margin-bottom: 20px;
    color:whitesmoke;
}

.item-text .item-subtitle{
    transition: 1s;
    font-weight: 525;
    color: transparent;
}

/* only apply styles to item-subtitle class when hovered over */
.item-text:hover .item-subtitle{
    font-weight: 525;
    color: lightgrey;
}

/* To darken portfolio images when hovered over */
.item-img-darken{
    transition: 1s;
    filter: brightness(25%);
}

.item-img-brighten{
    transition: 1s;
    filter: brightness(75%);   
}


/* About page styles */
.profile-content{
    display: flex;
    justify-content: space-between;
}

.profile-image img{
    align-content: center;
    padding-top: 30px;
    width: 95%;
}

.profile-text{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
}

.profile-text h1{
    color: navy;
}

.all-resume-content{
    height: fit-content;
}

.resume-heading{
    text-align: center;
    color: beige;
    line-height: 20px;
}

.resume-heading hr{
    width: 50%;
    color: beige;
}

.section-header{
    color: navy; 
    margin-top: 10px; 
    margin-left: 5px;
    font-size: larger;
    font-weight: 700;
}

.education-content{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: top center;
}

.education-awards{
    margin-left: 10px; 
    margin-top: 5px;
}

.umn-logo-image{
    height: 200px;
    width: 53%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 2;
}

.carlson-content{
    text-align: left;
    margin-left: 10px;
}

.company-label{
    line-height: 5px;
    margin-left: 10px;
    margin-top: 40px;
}

.experience-date{
    float: right;
    text-align: right;
    margin-right: 30px;
}

.company-label a{
    color: maroon;
    text-decoration: none;
    font-style: italic;
}

.company-label a:hover{
    color: navy;
}

.company-description{
    display: flex;
    flex-grow: 1;
}

.company-logo-image{
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    height: 200px;
    width: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1.5;
}

.company-description-text{
    margin-right: 10px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    height: 200px;
    width: 200px;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    flex-grow: 2;
}

.leadership-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;    
}

.leadership-header{
    text-align: center;
    color: maroon;
    line-height: 20px;
    font-size: medium;
    font-weight: 600;
}

.leadership-text{
    text-align: justify;
    margin-left: 35px;
    margin-right: 35px;
}

/* Home Page Styles */

.greeting-image{
    position: relative;
}

.main-home-image {
    height: 580px;
    width: 100%;
    filter: brightness(80%);
    background-size: cover;
    background-position: center;
}

.greeting-text{
    position: absolute;
    top: 30px;
    left: 230px;
    color: rgb(238, 238, 198);
    font-size: xxx-large;
    font-weight: 800;
    line-height: 120px;
}
.greeting-text a{
    font-size: x-large;
    text-decoration: none;
    padding: 30px 20px;
    background-color: transparent;
    border: 3px solid beige;
    line-height: 0px;
    color: beige;
    letter-spacing: 5px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: 320px;
    left: 5px;
}

.greeting-text a:hover{
    color: navy;
    transition: 0.5s;
    border-color: navy;
}