/* NOTE: changes may not immediately be reflected due to browser cache. To clear browser cache
for page, use CTRL + SHIFT + R. This should take care of issue. */

/* Master Styles */
body {
    margin: 0px;
    background-color:#7D7D7D;
    font-family: 'Glegoo', serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3.875em;
}

.footer{
    width: 100%;
    background-color: #696969;
    color: navy;
    height: 3.125em;
    line-height: 1.375em;
}

.footer span{
    margin-right: 0.625em;
    float: right;
    text-align: right;
}

.footer a{
    float: right;
    margin-right: 0.625em;
    font-style: italic;
    color: navy;
}

/* Navigation Bar Styles */
.nav-bar{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0.9375em;
    background-color: #696969;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

/* my name on left side of navigation bar */
.name{
    font-size: 1.125em;
    color: navy;
}

.name a{
    text-decoration: none;
    color:navy;
}

/*navigation bar links */
.right-side{
    display: flex;
    flex-flow: wrap;
}

.nav-bar > .right-side > div { /* styles to go into all divs within right-side class */
    margin-right: 1.25em;
    font-size: 1.2em;
    text-transform: uppercase;
}

/* adding transitions/animations to the links */
.nav-link {
    height: 1.875em;
    border-bottom: 0.0625em solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: beige;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 0.0625em solid navy;
}

.nav-link a:hover {
    color: navy;
}

/* Current page maintains navy underline in navigation bar */
.active-nav-link {
    border-bottom: 0.0625em solid navy;
}

.active-nav-link a{
    color: navy !important;
}

/* Portfolio Page Styles */


.portfolio-header{
    position: relative;
}

.portfolio-header-image {
    height: 28.125em;
    width: 100%;
    filter: brightness(50%);
    filter: contrast(25%);
    background-size: cover;
    background-position: center;
}

/* the "My Portfolio" at the top of the page */
.portfolio-header-greeting{
    position: absolute;
    text-align: center;
    top: 1.875em;
    width: 100%;
    color: beige;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 1.25em;
}

/*all text in portfolio header */
.portfolio-header-info{
    position: absolute;
    top: 9.375em;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    color: beige;
    font-weight: bold;
    margin-top: 0.625em;
}

.portfolio-description{
    margin-left: 2.5em;
    width: 50%;
}

/* status is card in right side showing what I am currently working on */
.portfolio-status{
    text-align: center;
    width: 23%;
    border-style: solid;
    border-right: transparent;
    padding: 0.5em 0.5em;
    padding-left: 0.9375em;
    background-color: #696969;
    color: beige;
}

.portfolio-status li{
    list-style: circle;
    text-align: left;
    list-style-position: inside;
    margin-right: 0.625em;
}

/* All portfolio items grid under header */
.all-portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*creates grid layout with 3cols per row*/
}

.portfolio-item {
    position: relative;
}

/* each project's card image */
.item-img-background {
    height: 21.875em;
    width: 100%;
    filter: brightness(90%) contrast(70%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* all text within each card */
.item-text{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 6.25em;
    padding-right: 6.25em;
}

/* project title */
.item-label{
    width: 100%;
    margin-bottom: 1.25em;
    color: beige;
}

.item-label a{
    color: beige;
    text-decoration: none;
    transition-duration: 0.5s;
}

.item-label a:hover{
    color: maroon;
}

/* making subtitle text initially invisible */
.item-text .item-subtitle{
    transition: 1s;
    font-weight: 525;
    color: transparent;
}

/* only apply styles to subtitle text when hovered over */
.item-text:hover .item-subtitle{
    font-weight: 525;
    color: lightgrey;
}

/* To darken/brighten portfolio images when hovered over */
.item-img-darken{
    transition: 1s;
    filter: brightness(30%) contrast(40%);
}

.item-img-brighten{
    transition: 1s;
    filter: brightness(90%) contrast(70%);  
}

/* conditional formatting based on how many portfolio items are added-- where to place ending message */
.ending-message-inline{
    width: 100%;
    text-align: left;
    margin-top: 15.625em;
    margin-left: 0.625em;
    color: beige;
    letter-spacing: 0.125em;
    font-weight: 900;
}

.ending-message-newline{
    width: 99%;
    text-align: center;
    margin-top: 1.5625em;
    margin-left: 0.625em;
    color: beige;
    letter-spacing: 0.125em;
    font-weight: 900;
}

/* Portfolio post styles */

.quick-nav-link{
    display: inline-block;
    color: maroon;
    margin-left: 0.625em;
    margin-top: 1.875em;
}

.post-title{
    color: beige;
    width: 100%;
    text-align: center;
    margin-top: 3.125em;
    font-style: bolder;
}

.post-info{
    text-align: center;
    margin-top: 1.25em;
    color: maroon;
    font-style: italic;
}

.post-info a{
    color: maroon;
    text-decoration: none;
    margin-left: -0.25em;
    transition-duration: 0.5s;
}

.post-info a:hover{
    color: navy;
}

/* About page styles */
.profile-content{
    display: flex;
    justify-content: space-between;
}

/* main about page picture of myself*/
.profile-image img{
    align-content: center;
    padding-top: 1.875em;
    width: 95%;
}

/* description next to main picture */
.profile-text{
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0.625em;
}

/* "A little about me" header */
.profile-text h1{
    color: navy;
}

/* resume section of page */


.about-heading{
    text-align: center;
    color: beige;
    line-height: 1.25em;
}

.about-heading hr{
    width: 50%;
    color: beige;
}

.section-header{
    color: navy; 
    margin-top: 0.625em; 
    margin-left: 0.3125em;
    font-size: larger;
    font-weight: 700;
}

.education-content{
    margin-top: 1.875em;
    display: flex;
    justify-content: space-between;
    align-items: top center;
}

.education-awards{
    margin-left: 0.625em; 
    margin-top: 0.3125em;
}

.umn-logo-image{
    /*12.5em */
    width: 53%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 2;
}

.carlson-content{
    text-align: left;
    margin-left: 0.625em;
    padding-right: 1em;
}

.company-label{
    line-height: 0.3125em;
    margin-left: 0.625em;
    margin-top: 2.5em;
    display: inline-block;
}

.company-label a{
    color: maroon;
    text-decoration: none;
    font-style: italic;
}

.company-label a:hover{
    color: navy;
}

.company-description{
    display: flex;
    flex-grow: 1;
    height: fit-content;
}

.company-logo-image{
    margin-top: 1.5625em;
    margin-left: 1.875em;
    margin-right: 1.875em;
    height: 12.5em;
    width: 12.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1.5;
}

.company-description-text{
    margin-right: 0.625em;
    margin-top: 0em;
    margin-left: 1.875em;
    margin-right: 1.875em;
    height: 12.5em;
    width: 12.5em;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    flex-grow: 2;
    height: 100%;
}

.leadership-content{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.875em;    
}

.leadership-header{
    text-align: center;
    color: maroon;
    line-height: 1.25em;
    font-size: medium;
    font-weight: 600;
    padding-top: 2em;
}

.leadership-text{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.skills-content{
    width: 60%;
    list-style: none;
    margin-left:auto;
    margin-right: auto;
}

/*skill bars*/
.bar{
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(61, 61, 61);
    border: 0.0625em solid rgb(61, 61, 61);
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 0.625em rgb(61, 61, 61);
}

.bar span{
    height: 1.875em;
    float: left;
    text-align: right;
    font-size: 0.875em;
    color: beige;
    background-color: maroon;
    border-radius: 0.5em;
}

.skills-content li{
    margin: 1.25em 0;
}

.skill-name{
    color: beige;
}

/* setting length of each skill bar */
.excel, .python {
    width: 85%;
}

.stats, .java {
    width: 73%;
}

.html, .cprogram {
    width: 55%;
}


/*buttons at the end of the page */
.nav-buttons{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 9.375em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.nav-buttons a{
    text-decoration: none;
    background-color: transparent;
    font-size: x-large;
    font-weight: 400;
    color: beige;
    border: 0.1875em solid beige;
    padding: 1.5em 3em;/*1.875em 3.125em */
    transition-duration: 0.5s;
}

.nav-buttons a:hover{
    color: navy;
    border-color: navy;
}

@media only screen and (max-width: 600px){
    .profile-content{
        display: flex;
        flex-direction: column;
    }

    .profile-image img{
        width: 100%;
    }
    
    .profile-content p{
        margin-left: 1em;
        margin-right: 1em;
    }

    .profile-content h1{
        margin-left: 0.5em;
    }

    .education-content{
        display: flex;
        flex-direction: column-reverse;
        height: 40em;
        width: 100%;
    }

    .umn-logo-image{
        width: 100%;
    }

    .cse-content{
        margin-left: 0.625em;
        margin-bottom: 0.625em;
    }

    .company-logo-image{
        width: 100%;
    }

    .company-description{
        display: flex;
        flex-direction: column;
    }
    .company-description-text{
        width: 100%;
        height: 100%;
        margin-left: 0.625em;
    }

    .nav-buttons a{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 1.4em 1.3em;
        margin-bottom: 2em;
    }

    .nav-buttons{
        margin-bottom: 6em;
    }
}


/* Home Page Styles */

.greeting-image{
    position: relative;
}

.main-home-image {
    height: 37.5em;
    width: 100%;
    filter: brightness(75%);
    background-size: cover;
    background-position: center;
}

.greeting-text{
    position: absolute;
    top: 2.4em;
    left: 4.7em;
    color: rgb(238, 238, 198);
    font-size: xxx-large;
    font-weight: 800;
    line-height: 1.9em;
}
.greeting-text a{
    font-size: x-large;
    text-decoration: none;
    padding: 1.875em 1.25em;
    background-color: transparent;
    border: 0.1875em solid beige;
    height: 1.5625em;
    width: 10.125em;
    line-height: 1.25em;
    color: beige;
    letter-spacing: 0.3125em;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: 11.5em;
    transition-duration: 0.5s;
}

.greeting-text a:hover{
    color: navy;
    border-color: navy;
}

.project-section, .contact-section {
    position: relative;    
}

.project-section-image, .contact-section-image {
    height: 37.5em;
    width: 100%;
    filter: brightness(55%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-section-text, .contact-section-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    text-align: left;
    font-weight: 700;
    padding-left: 6.25em;
    padding-right: 6.25em;
    color: beige;
    font-size: x-large;
}

.project-section-text a, .contact-section-text a{
    color: beige;
    text-decoration: none;
    border: 0.1875em solid beige;
    letter-spacing: 0.3125em;
    transition-duration: 0.5s;
    padding: 1.875em 0em;
    padding-left: 1em;
}

.project-section-text a:hover, .contact-section-text a:hover{
    color: navy;
    border-color: navy;
}


/* Contact Page Styles */

.contact-me-page{
    margin-bottom: 4.875em;
}

.header{
    line-height: 1.25em;
    margin-top: 6.25em;
}

.header h1{
    color: beige;
    font-size: xxx-large;
    margin-left: 0.625em;
}

.contact-text {
    color: beige;
    margin-top: 1.25em;
    margin-left: 0.625em;
    list-style: circle;
}

.contact-text li{
    margin-left: 0.9375em;
}

.linkedin-content, .email-content, .github-content{
    display: flex;
    flex-flow: wrap;
}

.linkedin-content span, .email-content span, .github-content span{
    line-height: 3.125em;
    margin-left: 0.625em;
}

.email-address a{
    color: black;
    text-decoration: none;
}

.linkedin-logo{
    height: 3em;
    width: 6.875em;
    margin-left: 0.625em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.email-logo{
    height: 3em;
    width: 2.8125em;
    margin-left: 0.625em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.github-logo{
    height: 2.8125em;
    width: 2.5em;
    margin-left: 0.625em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* pdf post styles */

.pdf-viewer span.page-info{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 1.875em;
}

.pdf-navigation{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

#prev-page, #next-page{
    display: inline-block;
    height: 2.1875em;
    font-family: 'Glegoo', serif;
    color: bisque !important;
    text-transform: uppercase;
    text-decoration: none;
    background: maroon;
    padding-top: 0.4375em;
    padding-bottom: 0.625em;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    border: none;
    transition: all 0.4s ease 0s;
}

#prev-page:hover, #next-page:hover{
    background: rgb(54, 54, 54);
    letter-spacing: 0.0625em;
    -webkit-box-shadow: 0em 0.3125em 2.5em -0.625em rgba(0,0,0,0.57);
    -moz-box-shadow: 0em 0.3125em 2.5em -0.625em rgba(0,0,0,0.57);
    box-shadow: 0.3125em 2.5em -0.625em rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.125em solid beige;
    margin-bottom: 0.625em;
}
