{% extends "posttemplate.html" %}

{% block post_title %} Java Semester Planning Tool {% endblock post_title %}
{%block post_date %} June 2021 {% endblock post_date %}

{% block portfolio_content %}
<p style="color: black; padding-right: 5%; padding-left: 5%; text-align: center; margin-bottom: 16.5em;"><!--Can reduce margin-bttom based on paragraph length.-->
    This is a java desktop application made using Java, Gradle, and the Swing GUI Library in Java. This application
    works with Google's OAuth API to add recurring class/lecture events to the user's Google Calendar, as well as 
    add deadlines in Google Tasks. A demo video can be viewed by 
    <a href="https://youtu.be/Skric_3_g-c" target="_blank" style="color: rgb(0, 0, 255);">following this link</a>.
    You can view the public code behind the application
    <a href="https://github.com/razeen-ahmad/Semester-Planning-Tool" target="_blank" style="color: rgb(0, 0, 255);">
        in this repository</a>.
    If you have any questions or comments, let me know!
</p>
{% endblock portfolio_content %}