{% extends "posttemplate.html" %}

{% block post_title %} Building My Personal Website {% endblock post_title %}
{%block post_date %} September 2020 {% endblock post_date %}

{% block portfolio_content %}
<p style="color: beige; margin-left: 10px; margin-right: 10px; margin-bottom: 117px;">
    As the summer between my freshman and sophomore year winded down, I wanted to work on one big project before the
    semester resumed. With the COVID-19 pandemic keeping everyone inside, it was pretty easy to find the time. My first
    exposure to computer programming was through HTML and CSS during the summer of 2019, when I took a very basic introductory computer
    science course at St. Cloud State University. Now, after having used Python and Java pretty extensively, I wanted
    to apply my programming knowledge to web design. This website was built using the Python Flask micro web framework.
    This was also the first programming project where I fully utilized git and GitHub. You can see all of my code 
    at my <a href="https://github.com/razeen-ahmad/Personal-Website" style="color: beige;">GitHub repository here.</a>
    Explore this site and let me know if you have any questions!
</p>
{% endblock portfolio_content %}