{% extends "posttemplate.html" %}

{% block post_title %} Building My Personal Website {% endblock post_title %}
{%block post_date %} September 2020 {% endblock post_date %}

{% block portfolio_content %}
<p style="color: beige; padding-right: 5%; padding-left: 5%; text-align: center; margin-bottom: 20em;"><!--Can reduce margin-bttom based on paragraph length.-->
    As the summer between my freshman and sophomore year winded down, I wanted to work on one big project before the
    semester resumed. With the COVID-19 pandemic keeping everyone inside, it was pretty easy to find the time. I was first
    exposed to computer programming through HTML and CSS during the summer of 2019. Now, after gaining more experience with 
    Python and Java, I wanted to apply my programming knowledge to web design. This website was built using the 
    Python Flask micro web framework and is the first programming project where I fully utilized git and GitHub. You 
    can see all of my code at my <a href="https://github.com/razeen-ahmad/Personal-Website" target="_blank" style="color: beige;">GitHub repository here.</a>
    Explore the site and let me know what you think!
</p>
{% endblock portfolio_content %}