{% extends "template.html" %}

{% block page_content %}
    <div class="profile-content">
        <div class="profile-image">
            <img src ="/static/Images/AboutShot.jpg">
        </div>

        <div class="profile-text">
            <h1>A little bit about me...</h1>
            <p>I am a sophomore at the University of Minnesota double majoring
                in finance and computer science. My goal is to secure a position 
                within the financial services industry where I can integrate both of 
                these technical backgrounds while serving others the best way I can.
                For now, I am wholly focused on learning through my coursework and gaining
                experience in the field.
            </p>
            <p>I built this website out of personal curiosity and to improve on my programming
                skills. I plan on using this site to post a variety of different projects
                that I find interesting while applying my business, math, and computer science knowledge.
                You can find these projects under the portfolio tab!
            </p>
            <p>Below, you will see my resumé outlining my most recent qualifications. You can also 
                download it HERE.</p>
            <hr style="width: 75%; color: navy;">
        </div>
    </div>
    <div class="all-resume-content">
        <div class="resume-heading">
            <br><h1>Resumé</h1>
            <hr>
        </div>
        <h2 style="color:navy; margin-top: 20px; margin-left: 5px;">Education</h2>
        <h3 style="color: maroon; margin-right: 450px; text-align: center; line-height: 23px;">University of Minnesota - Minneapolis, MN <br> (2019 - 2023)</h3>
        <b style="margin-left: 10px; margin-top: 5px;">Cumulative GPA:</b><i> 3.96 / 4.0</i>
        <div class="education-content">
            <div class="carlson-content">
                <div class="school-header"><u>Curtis L. Carlson School of Management</u></div>
                <div class="school-content">
                    <b>Major:</b> <i>Finance</i><br>
                    <b>Technical GPA:</b> <i>4.0 / 4.0</i><br>
                    <b>Relevant Coursework:</b> <i>Financial Accounting & Fundamentals, Supply Chain & Operations, Human Resource Management and Strategy in Australia</i>
                </div>
            </div>
            <div class="cse-content">
                <div class="school-header"><u>College of Science and Engineering</u></div>
                <div class="school-content">
                    <b>Major:</b> <i>Computer Science</i><br>
                    <b>Technical GPA:</b> <i>4.0 / 4.0</i><br>
                    <b>Relevant Coursework:</b> <i>Algorithms & Data Structures, Machine Architecture & Organization, Discrete Math, Linear Algebra, Analysis of Numrical Algorithms, Probability & Statistics</i>
                </div>
            </div>
            <div class="umn-logo-image"
                style= "background-image:url(/static/Images/UmnLogo.jpg)"></div>
        </div>
        <h2 style="color:navy; margin-top: 20px; margin-left: 5px;">Experience</h2>
        <div class="experience-content">
        </div>
    </div>
{% endblock page_content %}