{% extends "template.html" %}

{% block page_content %}
    <div class="profile-content">
        <div class="profile-image">
            <img src ="/static/Images/HeadShot.jpg">
        </div>

        <div class="profile-text">
            <h1>A little bit about me...</h1>
            <p>I am a sophomore at the University of Minnesota double majoring
                in finance (through the Carlson School of Management) and
                computer science (through the College of Science and Engineering).
                My goal is to secure a position within the financial services industry
                where I can integrate both of these technical backgrounds. For now, I 
                am wholly focused on learning through my coursework and gaining experience
                in the field.
            </p>
            <p>I created this website out of personal curiosity and to build on my programming
                skills. I plan on using this website to post a variety of different projects
                that I find interesting, while applying my business, math, and computer knowledge.
                You can find these projects under the portfolio tab!
            </p>
            <p><br>Below, you will see my resumé outlining my most recent qualifications.</p>
        </div>
    </div>
{% endblock page_content %}