<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale = 1.0">
        <title>{{ page_name }} Page</title>
        <link href="https://fonts.googleapis.com/css2?family=Glegoo&display=swap" rel="stylesheet">
        <link rel="icon" href="/static/Images/myfavicon.png">  
        <link rel="stylesheet" type= "text/css" href= 
            "{{ url_for('static', filename = 'Stylesheets/styles.css') }}">
        {% block head_section %}
        {% endblock head_section %}
    </head>
    <body>
        <div class="container">
            <div class="nav-bar">

                <div class="left-side">
                    <div class="name">
                        <div>
                            <a href="{{ url_for('home') }}">Razeen Ahmad</a>
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    {% if page_name=='Home' %}
                        <div class="nav-link active-nav-link">
                            <a href="{{ url_for('home') }}">Home</a>
                        </div>
                    {% else %}
                        <div class="nav-link">
                            <a href="{{ url_for('home') }}">Home</a>
                        </div>
                    {% endif %}
                    {% if page_name =='About' %}
                        <div class="nav-link active-nav-link">
                            <a href="{{ url_for('about') }}">About</a>
                        </div>
                    {% else %}
                        <div class="nav-link">
                            <a href="{{ url_for('about') }}">About</a>
                        </div>
                    {% endif %}
                    {% if page_name =='Portfolio' %}
                        <div class="nav-link active-nav-link">
                            <a href="{{ url_for('portfolio') }}">Portfolio</a>
                        </div>
                    {% else %}
                        <div class="nav-link">
                            <a href="{{ url_for('portfolio') }}">Portfolio</a>
                        </div>
                    {% endif %}
                    {% if page_name =='Contact' %}
                        <div class="nav-link active-nav-link">
                            <a href="{{ url_for('contact') }}">Contact</a>
                        </div>
                    {% else %}
                        <div class="nav-link">
                            <a href="{{ url_for('contact') }}">Contact</a>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% block page_content %}
        {% endblock page_content %}
        <div class="footer">
            <span class="name-text">Razeen Ahmad</span>
            <br>
            <a href="mailto:razeen.ahmad@yahoo.com" target="_blank">razeen.ahmad@yahoo.com</a>
        </div>
    </body>
    {% block javascript_block %}
    {% endblock javascript_block %}
</html>