{% extends "template.html" %}

{% block page_content %}
    <div class="portfolio-content">
        <div class="all-portfolio-items">
            <div class="portfolio-item">
                <div class="item-img-background"
                    style= "background-image:url(/static/Images/YogaClass.jpg)"></div>

                <div class="item-text">
                    <div class="item-label">
                        <h2>Lululemon Report</h2>
                    </div>
                    <div class="item-subtitle">
                        A deeper look at Lululemon Athletica, Inc. from 
                        a fundamental perspective.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}