<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>{{ page_name }} Page</title>
        <link rel="stylesheet" type= "text/css" href= 
            "{{ url_for('static', filename = 'Stylesheets/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="nav-bar">
                <div class="right-side">
                    <div class="nav-link">
                        <a href="{{ url_for('home') }}">Home</a>
                    </div>
                    <div class="nav-link">
                        <a href="{{ url_for('about') }}">About</a>
                    </div>
                    <div class="nav-link">
                        <a href="{{ url_for('portfolio') }}">Portfolio</a>
                    </div>
                </div>

                <div class="left-side">
                    <div class="name">
                        <div>Razeen Ahmad</div>
                    </div>
                </div>
            </div>
        </div>
        {% block page_content %}
        {% endblock page_content %}
    </body>
</html>