{% extends "mastertemplate.html" %}

{% block page_content %}
    <div class="profile-content" style="width: 99%;">
        <div class="profile-image">
            <img src ="/static/Images/AboutShot.jpg">
        </div>

        <div class="profile-text">
            <h1>A little bit about me...</h1>
            <p>I am a sophomore at the University of Minnesota double majoring
                in finance and computer science. My goal is to secure a position 
                within the financial services industry where I can integrate both of 
                these technical backgrounds while serving others and the community the best way I can.
                For now, I am wholly focused on learning through my coursework and gaining
                experience in the field.
            </p>
            <p>I coded this website from scratch out of personal curiosity and to improve on my programming
                skills. I plan on using this site to post a variety of different projects
                that I find interesting while applying my business, math, and computer science knowledge.
                You can find these projects under the portfolio tab!
            </p>
            <p>Below, you will find my resumé outlining my most recent qualifications.</p>
            <hr style="width: 75%; color: rgb(0, 0, 255); border: 0; height: 1.5px; background-color: rgb(0, 0, 255);">
        </div>
    </div>
    <div class="all-resume-content" style="width: 99%;">
        <div class="about-heading">
            <br><h1>Resumé</h1>
            <hr style="color: rgb(0, 0, 255); border: 0; height: 1.5px; background-color: rgb(0, 0, 255);">
        </div>
        <h2 style="color:rgb(0, 0, 255); margin-top: 30px; margin-left: 10px; margin-bottom: 0px;">Education</h2>
        <hr style="color: rgb(0, 0, 255); max-width: 250px; margin: 0px; margin-top: 0px; border: 0; height: 1.5px; background-color: rgb(0, 0, 255);">
        <h3 style="color: maroon; margin-top: 20px; text-align: center; line-height: 23px;">University of Minnesota - Minneapolis, MN <br> (2019 - 2023)</h3>
        <div class="education-awards">
            <span style="display: inline-block;"> <b>Notable Achievements:</b><i> Commended National Merit Scholar, Dean's List (all semesters), University Honors Student,
                National AP Scholar, Minnesota All-State Orchestra Member</i></span>
        </div>
        <div class="education-content">
            <div class="carlson-content">
                <div class="school-header"><u><b>Curtis L. Carlson School of Management</b></u></div>
                <div class="school-content">
                    <b>Major:</b> <i>Finance</i><br>
                    <b>Relevant Coursework:</b> <i>Financial Accounting & Fundamentals, Supply Chain & Operations, Human Resource Management and Strategy in Australia</i>
                </div>
            </div>
            <div class="cse-content">
                <div class="school-header"><u><b>College of Science and Engineering</b></u></div>
                <div class="school-content">
                    <b>Major:</b> <i>Computer Science</i><br>
                    <b>Relevant Coursework:</b> <i>Algorithms & Data Structures, Machine Architecture & Organization, Discrete Math, Linear Algebra, Analysis of Numerical Algorithms, Probability & Statistics</i>
                </div>
            </div>
            <div class="umn-logo-image"
                style= "background-image:url(/static/Images/UMNLogo.png)"></div>
        </div>
        <br>
        <h2 style="color:rgb(0, 0, 255); margin-top: 0px; margin-left: 10px; margin-bottom: 0px;">Experience</h2>
        <hr style="color: rgb(0, 0, 255); max-width: 250px; margin: 0px; margin-top: 0px; border: 0; height: 1.5px; background-color: rgb(0, 0, 255);">
        <div class="experience-content">
            <div class="encephalo-content">
                <div class="company-label">
                    <h3 style="color: maroon; margin-top: 20px; ">Equity Research Intern</h3> 
                    <h3 style="color: maroon;">(June 2020 - December 2020)</h3>
                    <a href="https://www.encephaloinvestments.com/" target="_blank">↗Encephalo Investments, St. Paul, MN</a>
                </div>
                <div class="company-description">
                    <a href="https://www.encephaloinvestments.com/" target="_blank"><div class="company-logo-image"
                        style="background-image: url(/static/Images/EncephaloLogo.png);"></div></a>
                    <div class="company-description-text">
                        <p>Encephalo Investments is an investment firm based out of the Twin Cities.
                            My time as an equity research intern has developed my financial and business acumen, 
                            while giving me opportunities to build on my professional skills within a 
                            startup environment. I provided buy/sell recommendations on individual stocks by analyzing 
                            financial statements and industry specific market trends combined with macroeconomic conditions. 
                            In teams, we created equity research reports and financial models based on quantitative valuations 
                            and fundamental analyses. These reports were presented weekly to company management to discuss 
                            investment opportunities. I also worked with the software development team to build screening software 
                            that improved research procedures based on quantitative insights.
                        </p>
                    </div>
                </div>
            </div>
            <div class="umnsvp-content">
                <div class="company-label">
                    <h3 style="color: maroon; margin-top: 50px; text-align:left;">Financial Operations Team </h3>
                    <h3 style="color: maroon;">(September 2019 - May 2020)</h3>
                    <a href="https://umnsvp.org/" target="_blank">↗UMN Solar Vehicle Project, Minneapolis, MN</a>
                </div>
                <div class="company-description">
                    <a href="https://umnsvp.org/" target="_blank"><div class="company-logo-image"
                        style="background-image: url(/static/Images/UmnSvpLogo.png);"></div></a>
                    <div class="company-description-text">
                        <p>The University of Minnesota (UMN) Solar Vehicle Project is a student-led group on campus that gives students
                            the opportunity to be involoved in engineering a solar powered vehicle. Through this group, I gained experience
                            managing a team within a product development environment. As a member of the financial operations team,
                            I helped build the infrastructure which enabled our engineering teams to purchase materials, run diagnostic tests, and 
                            register for official competitions with the solar vehicle. I also maintained financial spreadsheets for documenting 
                            expenditures, contacted corporate sponsors, and secured various grants/funds to ensure the project had the necessary 
                            funding to operate smoothly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="stc-content">
                <div class="company-label">
                    <h3 style="color: maroon; margin-top: 20px; text-align:left;">Gift Shop Associate 
                    <h3 style="color: maroon;">(June 2016 - April 2019)</h3>
                    <a href="https://www.centracare.com/gift-gallery/" target="_blank">↗St. Cloud Hospital, St. Cloud, MN</a>
                </div>
                <div class="company-description">
                    <a href="https://www.centracare.com/gift-gallery/" target="_blank"><div class="company-logo-image"
                        style="background-image: url(/static/Images/stcHospitalLogo.png); width: 15em;"></div></a>
                    <div class="company-description-text">
                        <p>The St. Cloud Hospital Gift Gallery provides hospital tenants and visitors with an assortment of flowers, treats, and other
                            gifts. All proceeds from the gift gallery go to the St. Cloud Hospital Auxiliary. Officially, this was not a paid position; 
                            I volunteered my time on a weekly basis. However, my experience operated much like a paid position at a retail store. 
                            We scheduled and filled in shifts on a weekly basis to ensure that the gift gallery could operate as scheduled.
                            As a gift shop associate, I managed deliveries in the hospital by coordinating with supply chain partners to ensure operational efficiency.
                            We provided patients with necessities and gifts while maintaining a high level of customer service. I also maintained business 
                            operations by placing orders, managing inventory, and recording finances.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h2 style="color:rgb(0, 0, 255); margin-top: 100px; margin-left: 10px; margin-bottom: 0px;">Leadership</h2>
        <hr style="color: rgb(0, 0, 255); max-width: 250px; margin: 0px; margin-top: 0px; border: 0; height: 1.5px; background-color: rgb(0, 0, 255);">
        <div class="leadership-content">
            <div class="sof-content">
                <div class="leadership-header">
                    Scholars of Finance - Leadership Team
                    <hr style="color: maroon; width: 80%; border: 0; height: 1.5px; background-color: maroon;">
                </div>
                <div class="leadership-text">
                    <span style="color: maroon;">(June 2020 - Present)</span> 
                    Scholars of Finance is a professional organization that helps undergraduate finance students build character
                    and lead with integrity by partnering with finance industry leaders. As part of the Symposium Planning team, 
                    I was responsible for setting up our first ever virtual symposium for 100+ students and executives. I also  
                    coordinated small breakout rooms to give students an opportunity to meet several top executives, network 
                    with students from other universities, and enhance their understanding of principled financial leadership. 
                </div>
            </div>
            <div class="hrAbroad-content">
                <div class="leadership-header">
                    Human Resource Management and Strategy in Australia
                    <hr style="color: maroon; width: 80%; border: 0; height: 1.25px; background-color: maroon;">
                </div>
                <div class="leadership-text">
                    <span style="color: maroon;">(Spring 2020)</span> 
                    During the 2020 spring semester, I enrolled in a study abroad program that studied human 
                    resources management in Australia. We worked with students from the Queensland University of 
                    Technology to develop a strategic human resource plan and evaluate its efficacy in a global business 
                    context. Although COVID-19 disrupted our plans, this experience taught me a great deal about 
                    teamwork while reaching across cultural barriers.
                </div>
            </div>
        </div>
        <h2 style="color:rgb(0, 0, 255); margin-top: 100px; margin-left: 10px; margin-bottom: 0px;">Skills / Competencies</h2>
        <hr style="color: rgb(0, 0, 255); max-width: 350px; margin: 0px; margin-top: 0px; margin-bottom: 40px; border: 0; height: 1.5px; background-color: rgb(0, 0, 255);">
        <div class="skills-content">
            <li>
                <span class="skill-name">Python</span>
                <span class="bar">
                    <span class="skill python">Advanced &nbsp;</span>
                </span>
            </li>
            <li>
                <span class="skill-name">Statistical Analysis</span>
                <span class="bar">
                    <span class="skill stats">Intermediate/Advanced &nbsp;</span>
                </span>
            </li>
            <li>
                <span class="skill-name">Microsoft Excel</span>
                <span class="bar">
                    <span class="skill excel">Advanced &nbsp;</span>
                </span>
            </li>
            <li>
                <span class="skill-name">HTML / CSS</span>
                <span class="bar">
                    <span class="skill html">Intermediate &nbsp;</span>
                </span>
            </li>
            <li>
                <span class="skill-name">Java</span>
                <span class="bar">
                    <span class="skill java">Intermediate/Advanced &nbsp;</span>
                </span>
            </li>
            <li>
                <span class="skill-name">C Programming</span>
                <span class="bar">
                    <span class="skill cprogram">Intermediate &nbsp;</span>
                </span>
            </li>
        </div>
    </div>
    <br>
    <h2 style="color:rgb(0, 0, 255); margin-top: 0px; margin-left: 10px; margin-bottom: 0px;">Interests</h2>
    <hr style="color: rgb(0, 0, 255); max-width: 250px; margin: 0px; margin-top: 0px; border: 0; height: 1.5px; background-color: rgb(0, 0, 255);">
    <div class="interests-content" style="width: 98%;">
        <div class="sport-content">
            <div class="interest-label">
                <h3 style="margin-top: 20px;">Sports</h3>
                <hr style="color:maroon; height: 0.7px; background-color: maroon; width: 40%; text-align: center;">
            </div>
            <div class="interest-description">
                <div class="interest-icon-image"
                    style="background-image: url(/static/Images/sportsicon.jpg); height: 13.5em;"></div>
                <div class="interest-description-text">
                    <p>
                        From an early age, I have been infatuated with soccer. I would obsessively watch YouTube highlights of Messi, Ronaldo, and Ronaldinho
                        and try to recreate their moves in my backyard. This love for soccer blossomed into a passion for all sports, 
                        although I mainly follow soccer and basketball. While sports mainly serve as a pastime, I've found it as a particularly
                        valuable platform for building my analytical skills. By studying statistics and debating with my friends,
                        I have enhanced my critical thinking and communication skills in ways that could not be replicated elsewhere. With time, I hope
                        to showcase these skills through various projects on this website while spending time with something I am passionate about.
                    </p>
                </div>
            </div>
        </div>
        <div class="cello-content">
            <div class="interest-label">
                <h3 style="margin-top: 50px;">Music</h3>
                <hr style="color: maroon; height: 0.4px; background-color: maroon; width: 40%; text-align: center;">
            </div>
            <div class="interest-description">
                <div class="interest-icon-image"
                    style="background-image: url(/static/Images/musicicon.jpg); height: 15em;"></div>
                <div class="interest-description-text">
                    <p>
                        Music has always been a part of my life. Like many others, I started out by taking piano lessons. Later, 
                        I transitioned to singing duets with my younger brother. However, after I found the cello in 5th grade, I
                        knew I had found the instrument for me. The size and sound of the cello had me instantly hooked, and I have
                        never looked back since. Through orchestra, I have worked and met with many talented individuals who 
                        showed me the power of hard work, discipline, and teamwork. This culiminated during my junior year of high school, 
                        when I auditioned and was selected for the Minnesota All-State Orchestra. 
                        Although I do not practice like I once used to, I still play my cello on a semi-regular basis. 
                        I find it a nice way to relax my mind and disconnect. 
                    </p>
                </div>
            </div>
        </div>
        <div class="trivia-content">
            <div class="interest-label">
                <h3 style="margin-top: 20px;">Movies</h3>
                <hr style="color: maroon; height: 0.4px; background-color: maroon; width: 40%; text-align: center;">
            </div>
            <div class="interest-description">
                <div class="interest-icon-image"
                    style="background-image: url(/static/Images/movietheater.jpg); height: 14.7em;"></div>
                <div class="interest-description-text">
                    <p>
                        Although I am far from a cinemaphile, I enjoy watching movies and documentaries. 
                        I find it as a great way to connect with others while learning more about the world and myself.
                        For me, the most valuable part is the reflection I do when discussing the films I have watched. 
                        In fact, I have profile where I rate and review films that I have watched. You can check it
                        out out <a href="https://letterboxd.com/razeen875/" target="_blank" style="color: rgb(0, 0, 255)">here</a>. 
                        I continually add new reviews, as my time allows.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-heading" style="margin-top: 100px;">
        <br><h1>Want to see more?</h1>
        <hr style="border: 0; height: 1.5px; background-color: rgb(0, 0, 255);"><br>
        <div class="nav-buttons">
            <div class="project-button" style="display: inline-block;">
                <a href="{{ url_for('portfolio') }}">See My Projects →</a>
            </div>
            <div class="contact-button" style="display: inline-block;">
                <a href="{{ url_for('contact') }}">Contact Me →</a>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block javascript_block %}
{% endblock javascript_block %}